@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif SC", serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 1.5;
  color: #000;
  padding-left: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alfa Slab One", cursive;
  color: #242424;
  font-weight: 400;
  line-height: 1.4em;
  margin: 40px 0px 0px 0px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

p {
  margin: 10px 0px;
}

.bold {
  font-weight: bold;
}

.red-price {
  font-family: "Alfa Slab One", cursive;
  color: #783c12;
  font-size: 22px;
  margin-bottom: 20px;
}

.pricePink {
  color: pink;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
